#btn1 {
  background: rgb(251, 170, 8);
  width: 150px;
  height: 45px;
  border-radius: 22px;
  color: black;
}


#navlist a {
  color: white;
  margin-left: 55px;
  transition: 400ms;
}


#navlist a:hover {
  transform: scale(1.4);

  text-decoration: underline rgb(255, 225, 0);
  
  
}

.firstmessage {

  display: flex;
  justify-content: center;
  background: black;
  border-radius: 22px;
  padding: 5px;
  margin-top: 22%;
  height: 40px;
  width: 250px;
  transition: 700ms;
}
.seconfmessage {
  display: flex;
  background: rgb(255, 204, 0);
  width: 290px;
  border-radius: 22px;
  align-items: center;
  margin-top: 42px;
  height: 40px;
  padding: 20px;
  transition: 700ms;
}

.seconfmessage p {
  margin-top: 10px;
  font-family: 'Quicksand', sans-serif;


}

.firstmessage:hover {

  transform: scale(1.2);
}

.seconfmessage:hover {

  transform: scale(1.2);

}


.grid{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(200px,auto));
column-gap: 5%;
}
.image img{
  width: 370px;
  height: 350px;

  padding-right: 56px;
  padding: left;
  padding: 0px;
  margin-left: -23px;
  transition: 500ms;
}
.image img:hover{
  margin-left: 50px;
}
.message{
  color: white;
  font-size: 20px;
  font-weight: 800;
  font-family:Algerian ;

}

.text {
  padding-bottom: 15px;
  background-color: rgb(194, 194, 194);
  margin-top: 23px;
  border-radius: 11px;
overflow: auto;
  width: 100%;
 
  max-width: 100%;
}

.text .h11 {
  font-size: 25px;
  font-weight: 900;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
}

.text #p1 {
  word-break: break-all;
  width: 570px;
  float: left;
  padding: 10px;

}

.btn36 {
  margin-top: 2%;

}

.img1 {
  float: right;
  width: 380px;
  position: relative;
  border-radius: 23px;
  left: -2%;
}
@media screen and (max-width:966px){
  .img1{
    width: 94%;
    height: 19em;
    

  }
  .text #p1{
    width: 100%;
  }
}
.par1{
  margin-left: 2%;
}
.grid h2 {
  text-align: center;
 
}
.par1 p{
  border: 2px solid red;
  width: 350px;
  overflow: auto;
  margin-left: 12px;
  text-align: left;
  
}
.par2 p{
 
  overflow: auto;
  margin-left: 12px;
  text-align: left;
  font-size: 15px;
  
}
.par2{
  background:black;
  margin-top: 10%;
  color: white;
  padding: 1.4em;
  border-radius: 1em;
  margin-left: 12px;
  height: 300px;
  margin-right: 15px;
  overflow:scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
#thj{
  overflow: hidden;
}
/*  card css */
.card1{
  width: 54em;
  height: 10em;
  max-width: 100%;
  overflow: hidden;
 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 4%;
  padding-top: 9%;
  border: 2px solid red;
}
.card1 img {
  width: 33%!important;
  margin-left: 3%;
  margin-right: 4%;
  border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 70%;
}
.card1 p{
  font-size: 10px !important;
  font-family: 'Bricolage Grotesque', sans-serif;
  color:rgb(12, 0, 0);
  font-style: italic;


}
.text2{
 text-align: left;
 
}
.text2 h2{
  font-size: 16px!important;
  margin-left: 10px !important;

}
.text2 h5{
  font-size: 12px;
  margin-left: 5%;

}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  

  
  }
  .active,.collapsible:hover {
 
  transition: 600ms;
 
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  transition: 500ms;
}
.qform {
  width: 520px;
  /* max-width: 100%; */

  /* border: 10px solid red;
  /* float: right; */
  /* clear: right; */ 
  padding: 30px 30px 30px  130px;
  display: inline-block;
  margin-top: 4px;


}

.qform h2 {
  font-size: 36px;
  margin-left: 14px;
  border-left: 13px solid #FFC107;
  padding-left: 9px;
 
}

.form32 input {
  width: 305px;
  outline: none;
  border: none;
  border-bottom: 1px solid beige;
  margin-bottom: 7%

}
.form-group32 textarea{
  resize: vertical;
  width: 359px !important;
  height: 140px ! important;
  outline: none;
  border: none;
  border-bottom: 1px solid beige;
}
.btn45{
  padding: 2% 34% 0% 34%;
 
  
}
/* left side par */
.Contact_page {
  width: 483px;
  padding: 27px;
  margin-left: 89px;
  display: inline-block;

}


.list1 img {
  width: 7%;
}

.list1 {
  list-style: none;
  margin-bottom: 23px;
}

.list2 {
  list-style: none;
  display: inline;
  line-break: 2px;

}

.list2 a img {
  border-radius: 2px;
  background: white;
  padding: 1%;
  margin-left: 10%;
  margin-top: 10%;
  transition: 700ms;
  
}

.list2 a img:hover {
  background-color: rgb(255, 196, 0);
  border-radius: 50%;
  transform: rotate(360deg);
}

a {
  text-decoration: none;
}
.copyright{
  padding-top: 14%;
}
.copyright p{
  font-size: 25px;
}
/* Extra Small Devices (portrait phones) */
@media only screen and (max-width: 575px) {
  .qform {
    width: 481px;
    padding: 30px 75px 3px 20px;
  }
  .form32{
    width: 600px;
  }
  .Contact_page {
    width: 395px;
    padding: 28px;
    margin-left: -1px;
    display: inline-block
  }
  .list2 a img:hover {
    background-color: rgb(255, 196, 0);
    border-radius: 50%;
    transform: rotate(360deg);
  }
  .card1 p{
  font-size: 13px !important;
  font-family: 'Bricolage Grotesque', sans-serif;
  color: rgb(12, 0, 0);
  font-style: italic;
  text-align: start;
}
.card1{
  width: 54em;
  height: 10em;
  max-width: 100%;
  overflow: hidden;
  background: url();
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 4%;
  padding-top: 9%;
  border: 2px solid red;
}
.card1 img {
  width: 33%!important;
  margin-left: 3%;
  margin-right: 4%;
  border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 70%;
}
}
  

/* Small Devices (landscape phones) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* Add your styles for small devices */
  .qform {
    width: 100%;
    padding: 30px 75px 10px 32px;
   
  }
  .form32 input{
    padding-left: 4%;
  }
  .form-group32 textarea {
    width: 98% !important;

  }
 .par2{
  width: 400px;
 }
  .Contact_page {
    width: 100%;
    padding: 28px;
    margin-left: 0px;
    display: inline-block;
  }
  .list2 a img:hover {
    background-color: rgb(255, 196, 0);
    border-radius: 50%;
    transform: rotate(360deg);
  }
 
.card1{
  width: 54em;
  height: 10em;
  max-width: 100%;
  overflow: hidden;
  background: url();
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 4%;
  padding-top: 9%;
  border: 2px solid red;
}
}

/* Medium Devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Add your styles for medium devices */
 .firstmessage{
  width: 190px;
  font-size: 13px;
  
}
.seconfmessage{
  width: 156px;
  font-size: 9px;
}
}

/* Large Devices (desktops) */
@media only screen and (min-width: 200px) and (max-width: 768px) {
  /* Add your styles for large devices */
  .btn45{
    padding: 2% 34% 0% 5%;

    overflow: hidden;
  }
  .firstmessage{
    width: 207px;
    font-size: 15px;
  }
  .seconfmessage{
    width: 200px;
    font-size: 12px;
  }
  
div#contact {
    
    width: 100%;
    overflow: hidden;
}
 
  
}

/* Extra Large Devices (large desktops) */
@media only screen and (min-width: 1200px) {
  /* Add your styles for extra large devices */
}



